
#tempLink {
	display:block;
	width:100%;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 20px;
}

body {
	background-color:#E7E7E7;
	margin:0;
}

#content {
	margin:none;
	border:none;
	padding:none;
	width:100%;
	min-width:700px;
	font-family:sans-serif;
	font-size:16px;
}

#header {
	width:100%;
	height:200px;
	margin:0;
	padding:0;
	background-color: #426895;
}

#title {
	color:white;
	margin: 0 0 0 40px;
	line-height:150px;
	font-size:30px;
	font-weight:bold;
	font-family:sans-serif;
}

#navBar {
	width:40%;
	height:50px;
	margin:auto;
}

.navItem {
	width:49%;
	height:50px;
	display:inline-block;
	margin:0;
	color:white;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
}

.navLoc {
	color: #FECA3D;
	font-weight:bold;
}

h1 {
	width:95%;
	height: 80px;
	margin:auto 0 auto 5%;
	min-width:480px;
	line-height: 80px;
	color: #426895;
	text-align:left;
}

.container {
	display:block;
	width:80%;
	min-width:480px;
	margin: 80px auto;
}
	
#ocontainer {
	display: none;
}

.box {
	width: 100%;
	margin:20px auto;
	color:white;
	background-color: #426895;
	border:1px solid #426895;
	border-radius: 4px;
}

table {
	width:100%;
	padding:20px;
	border-collapse: collapse;
	border: 1px solid white;
}

caption {
	font-size:20px;
	height:40px;
	font-weight:bold;
}

th {
	text-align:center;
	vertical-align: middle;
	text-align: center;
	background-color: white;
	height: 50px;
	color: #426895;
}

td {
	height:40px;
	padding:5px;
	text-align: right;
	vertical-align: middle;
	border: 1px solid white;
}

a { 
	color: inherit; 
	text-decoration: none;
}

.uploadLbl {
	width: 80%;
	height: 50px;
	margin: 40px auto;
	display:block;
	text-align:center;
	line-height: 50px;
	font-size:18px;
	font-weight: bold;
	border-radius: 10px;
	border:1px solid #426895;
	color: #426895;
}	

#fileLbl {
	background-color: white;
	color: #FECA3D
}

#submitLbl {
	background-color:#FECA3D;
	color:white;
}

.upload {
	display:none;
}

.uploadLbl:active {
	position:relative;
	top:1px;
}

/* measure boxes */

.measBox {
	margin-bottom:100px;
}

.measHeader, .measFooter {
	height:40px;
	width:100%;
	margin:20px auto;
	line-height:40px;
	font-size:24px;
	font-weight: bold;
	text-align:center;
}

.measText {
	width:30%;
	padding:0;
	height:350px;
	overflow-y:scroll;
	overflow-x:hidden;
	margin:0 5%;
	display:inline-block;
	border-top:2px solid white;
	border-bottom:2px solid white;
	border-left: 2px solid white;
	
}

.measTable {
	border-collapse: collapse;
	margin:0;
	padding:0;
	border:1px solid white;
}

.measCell {	
	height: 100px;
	text-align: center;
}

.measGraph {
	width:59%;
	display:inline-block;
}

.measTextFooter {
	height:100%;
	width: 40%;
	display:inline-block;
}

.measGraphFooter {
	height:100%;
	width:59%;
	display:inline-block;
}


/* raw box */	


.halfTable {
	width: 40%;
	margin: 40px 4.5%;
	display: inline-block;
}

.halfTable td {
	width: 50%;
}

.fullTable {
	width: 90%;
	margin: 40px 5%;
}

.axis path, .axis line {
	stroke: white;
}



/* Manual Page */

.dfnBox {
	margin-bottom:60px;
}

.dfnTable {
	width:80%;
	margin:40px auto;
}

.dfnKey {
	text-align:center;
	font-weight:bold;
	min-width:150px;
}

.dfnValue {
	text-align:left;
}


